.CalendarApp {
    text-align: center;
    border: thick 5px black solid;
    
}

.react-datepicker-wrapper{
    display:inline;
    width: 10vw;
    
}
.react-datepicker__input-container{
    display: inline;
    width: 40vw;
    
}

#button{
    background-color: #61A5C2;
    border: none;
    margin-left: 10px;
    height:22px;
    border-radius: 3px;
}
