@font-face {
    font-family: Rubik;
    src: url('https: //fonts.google.com/specimen/Rubik');
}

* {
    font-family: Rubik;
}

.CalendarApp {
    text-align: center;
    
    color: #012A4A;
    
    
}

.react-datepicker-wrapper{
    display:inline;
    width: 10vw;
    
}
.react-datepicker__input-container{
    display: inline;
    width: 40vw;
    
}

#button{
    color: #012A4A;
    background-color: white;
    border: 0.5px #012A4A normal;
    margin-left: 10px;
    height:22px;
    border-radius: 3px;
}
 

