.container {
    display: grid;
    width: 80vw;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 50px;
    grid-gap: 1.2rem;
    padding: 1rem;
    flex: auto;
  }
  
  .fitness {
    flex: 0 50%;
  }
  