 * {
  margin: 0;
  padding: 0;
}

/* .Home {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 40px;
  column-gap: 5px;
  text-align: center;
  justify-content: space-evenly;
  margin-top: 20vh;
  margin-right: 15vw;
  margin-left: 15vw;
  width: 100vw;
  height: 100vh;
  margin:0;
  background-size: cover;
  background: #A9D6E5;
}


.dark .Home {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 40px;
  column-gap: 5px;
  text-align: center;
  justify-content: space-evenly;
  margin-top: 20vh;
  margin-right: 15vw;
  margin-left: 15vw;
  width: 100vw;
  height: 100vh;
  margin:0;
  background-size: cover;
  background: #065A60;
}

.container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 50px;
  grid-gap: 2rem;
  padding: 1rem;
  flex: auto;
} */
