.App {
  width: 100vw;
  height: 100vh;
  margin:0;
  background-size: cover;
  background: #A9D6E5;
}


.dark .App {
  width: 100vw;
  height: 100vh;
  margin:0;
  background-size: cover;
  background: #065A60;
}

#bar1 {
  position: absolute;
  width: 93px;
  height: 15px;
  left: 1274px;
  right:73px;
  top: 35px;
  background-color: #2C7DA0;
  border-radius: 7px;
  transform: translateY(-4px);
  transition: 0.3s ease;
}
.dark #bar1 {
  position: absolute;
  width: 93px;
  height: 15px;
  left: 1274px;
  top: 35px;
  background-color:rgba(77, 25, 77, 1);
  border-radius: 7px;
  transform: translateY(-4px);
  transition: 0.3s ease;
}

#bar2 {
  position: absolute;
  width: 93px;
  height: 15px;
  left: 1274px;
  top: 60px;
  background-color:#61A5C2;
  border-radius: 7px;
  transform: translateY(-4px);
}
.dark #bar2 {
  position: absolute;
  width: 93px;
  height: 15px;
  left: 1274px;
  top: 60px;
  background-color:rgba(49, 34, 68, 1);
  border-radius: 7px;
  transform: translateY(-4px);
}
#bar3 {
  position: absolute;
  width: 93px;
  height: 15px;
  left: 1274px;
  top: 85px;
  background-color:#89C2D9;
  border-radius: 7px;
  transform: translateY(-4px);
}
.dark #bar3 {
  position: absolute;
  width: 93px;
  height: 15px;
  left: 1274px;
  right: 73px;
  top: 85px;
  background-color: rgba(33, 47, 69, 1);
  border-radius: 7px;
  transform: translateY(-4px);
}
button {
  position: absolute;
  width: 33px;
  height: 33px;
  right: 113px;
  top: 123px;
  bottom: 874;
  background: #012A4A;
  
}