@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}
ul {
  list-style-type: none;
}
a{
  text-decoration: none;
}
body {
  margin: 0;
  font-family:'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container{
  max-width: 1240px;
  width:100%;
  margin: 0 0 0 0;
  display: flex;
  justify-content: center;
}
.btn {
  color:rgba(1, 42, 74, 1);
  background-color: rgba(169, 214, 229, 1);
  padding: 0px 0px;
  border: none;
  border-radius: 8px;
  font-size: 2rem;
  transition: .4s;
  cursor: pointer;
  margin: 6px 0;
}
.btn:active {
  transform: translate(4px);
  box-shadow: 0px 0px 1px rgb(12, 37, 46, .25);
  border-bottom: none;
}