.navbar {
  width: 100vw;
  height: 20vh;;
  display:flex;
  top:0;
  left:0;
  position:static;
}
.dark .navbar {
  width: 100vw;
  height: 20vh;;
  display:flex;
  top:0;
  left:0;
  position:static;
}
.navbar .nav-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  top:15rem;
  right: -25%;
  height: 5rem;
  width: 12rem;
  background: rgba(169, 214, 229, .7);
  transition: 0.25s ease-in-out;
  z-index: 15;
  font-size: 1.5rem;
  font-display: #012A4A;
}
.dark .navbar .nav-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    top:15rem;
    right: -25%;
    height: 5rem;
    width: 12rem;
    background: #065A60;
    transition: 0.4s ease-in-out;
    z-index: 15;
    font-size: 1.5rem;
    font-display: #012A4A;
  }
.navbar .active {
  right:2.5rem;
  height:0rem;
}
.dark .navbar .active {
  right:2.5rem;
  height:0rem;
}
.btnMenu {
  align-items:top;
  display:block;
  flex:column;
  width: fit-content;
  display: inline-block;
  padding : 3rem;
  height: 3rem;
}
.dark .btnMenu {
  align-items:top;
  display:block;
  flex:column;
  width: fit-content;
  display: inline-block;
  padding : 3rem;
  height: 3rem;
}
.navbar li a {
  padding: .1rem;
  color: #012A4A;
}
.dark .navbar li a {
  padding: .1rem;
  color: rgba(97, 165, 194, 1);
}
.navbar li a:hover {
  text-shadow:2px 2px black;
}
.dark .navbar li a:hover {
  text-shadow:2px 2px white;
}
.navbar .bar1{
  width: 4rem;
  height: .5rem;
  border-radius: 8px;
  background-color: #468FAF;
  margin: 6px 0;
  font-size: 2rem;
  transition: 0.4s;
  }
.navbar .bar2{
  width: 4rem;
  height: .5rem;
  border-radius: 8px;
  background-color: #61A5C2;
  margin: 6px 0;
  transition: 0.4s;
}
.navbar .bar3{
  width: 4rem;
  height: .5rem;
  border-radius: 8px;
  background-color: #89C2D9;
  margin: 6px 0;
  transition: 0.4s;
 }
 .dark .navbar .bar1{
  width: 4rem;
  height: .5rem;
  border-radius: 8px;
  background-color: rgba(77, 25, 77, 1);
  margin: 6px 0;
  font-size: 2rem;
  transition: 0.4s;
  }
.dark .navbar .bar2{
  width: 4rem;
  height: .5rem;
  border-radius: 8px;
  background-color: rgba(49, 34, 68, 1);
  margin: 6px 0;
  transition: 0.4s;
}
.dark .navbar .bar3{
  width: 4rem;
  height: .5rem;
  border-radius: 8px;
  background-color: rgba(33, 47, 69, 1);
  margin: 6px 0;
  transition: 0.4s;
 }
.logo {
    display: inline-block;
    text-decoration:none;
    margin : 2rem;
    padding : 5rem;
    background : url(../images/LightModeSoC.png) no-repeat 0 0;
    background-size: contain;
    width: 50vw;
    flex:content;
    position: relative;
  }
  .dark .logo {
    display: inline-block;
    text-decoration:none;
    margin : 2rem;
    padding : 5rem;
    background : url(../images/DarkModeSoC.png) no-repeat 0 0;
    background-size: contain;
    width: 50vw;
    flex:content;
    position: relative;
  }

  .logo a {
    display : inline-block;
    height : 113px;
  }
  .dark .logo a {
    display : inline-block;
    height : 113px;
  }
  .btn {
    color:rgba(1, 42, 74, 1);
    background-image: url(../images/LightModeMoon.png);
    background-color: rgba(169, 214, 229, 1);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 3rem;
    height: 3rem;
    margin-top: 1rem;;
    border: none;
    border-radius: 8px;
    font-size: 2rem;
    cursor: pointer;
    padding-top: 1.2rem;
    display: inline-block;
  }
  .dark .btn {
    color:rgba(97, 165, 194, 1);
    background-image: url(../images/DarkModeSun.png);
    background-color: rgba(6, 90, 96, 1);
  }
  .btn:active {
    transform: translate(4px);
    box-shadow: 0px 0px 1px rgb(12, 37, 46, .25);
    border-bottom: none;
  }
  .dark .btn:active {
    transform: translate(4px);
    box-shadow: 0px 0px 1px rgb(12, 37, 46, .25);
    border-bottom: none;
  }
  .btnMenu{
    padding-top: 1rem;
  }
  .dark .btnMenu{
    padding-top: 1rem;
  }
  ul {
    list-style-type: none;
  }
  .dark ul {
    list-style-type: none;
  }
 