.greeting {

    width: 35px;
    height: 71px;
    left: 540px;
    top: 90px;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 71px;
    

    color: rgba(1, 42, 74, 1);
}
.dark .greeting {
    
    width: 352px;
    height: 71px;
    left: 540px;
    top: 90px;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 3.5rem;
    line-height: 71px;
    

    color: rgba(97, 165, 194, 1);
}
