img {
    width: 40%;
    height:60%;
    padding-bottom: 5px;
    padding-top: 1vh;
    align-content: center; 
}
.dark img {
    width: 40%;
    height:60%;
    padding-bottom: 5px;
    padding-top: 1vh;
    align-content: center; 
}
.card {
    width: 100%;
    height: 100%;
    border-radius:10px;
    color: #012A4A;
    text-align: center;
    font-size:1.8rem;
    justify-content:space-around;
    display: flexbox;
} 
.dark .card {
    width: 100%;
    height: 100%;
    border-radius:10px;
    color: rgba(97, 165, 194, 1);
    text-align: center;
    font-size:1.8rem;
    justify-content:space-around;
    display: flexbox;
} 

#FlashCards{
    background-color: #89C2D9;
    
}

.dark #FlashCards{
    background-color: rgba(39, 38, 64, 1);
    
}

#Calendar{
    background-color: #61A5C2;
}

.dark #Calendar{
    background-color:rgba(49, 34, 68, 1);
}


#Documents {
    background-color: #468FAF;
}

.dark #Documents {
    background-color: rgba(77, 25, 77, 1);
}

#Games {
    background-color: #89C2D9;
}

.dark #Games {
    background-color:rgba(39, 38, 64, 1);
}

#Videos {
    background-color: #61A5C2;
}

.dark #Videos {
    background-color: rgba(49, 34, 68, 1);
}

#Exercise {
    background-color: #468FAF;
}

.dark #Exercise {
    background-color: rgba(77, 25, 77, 1);
}