* {
    margin: 0;
    padding: 0;
  }
  
  .Home {
    display: flex;
    flex-wrap: wrap;
    flex:content;
    gap: 40px;
    column-gap: 5px;
    text-align:center;
    justify-content: space-evenly;
    margin-top: 20vh;
    margin-right: 15vw;
    margin-left: 15vw;
    width: 100vw;
    height: 100vh;
    margin:0px;
    background-color: rgba(169, 214, 229, 1);
  }
  
  .dark .Home {
    display: flex;
    flex-wrap: wrap;
    flex:content;
    gap: 40px;
    column-gap: 5px;
    text-align:center;
    justify-content: space-evenly;
    margin-top: 20vh;
    margin-right: 15vw;
    margin-left: 15vw;
    width: 100vw;
    height: 100vh;
    margin:0px;
    background-color: rgba(6, 90, 96, 1);
  }
  .cardContainer {
    display: grid;
    width: fit-content;
    width: 100vw;
    height: fit-content;
    max-height: 1011px;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    grid-gap: 2rem;
    padding: 2.5rem;
    flex: auto;
  }
  .dark .cardContainer {
    display: grid;
    width: fit-content;
    width: 100vw;
    height: fit-content;
    max-height: 1011px;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    grid-gap: 2rem;
    padding: 2.5rem;
    flex: auto;
    background-color: rgba(6, 90, 96, 1);
  }
