* {
    margin: 0;
    padding: 0;
  }
  
  .Home {
    display: flex;
    flex-wrap: wrap;
    flex:content;
    gap: 40px;
    column-gap: 5px;
    text-align: center;
    justify-content: space-evenly;
    margin-top: 20vh;
    margin-right: 15vw;
    margin-left: 15vw;
    width: 100vw;
    height: 100vh;
    margin:0px;
    background-size: cover;
    background: #A9D6E5;
  }
  
  
  .dark .Home {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 40px;
    column-gap: 5px;
    text-align: center;
    justify-content: space-evenly;
    margin-top: 20vh;
    margin-right: 15vw;
    margin-left: 15vw;
    width: 100vw;
    height: 100vh;
    margin:0;
    background-size: cover;
    background: #065A60;
  }
  
  .cardContainer {
    display: grid;
    width: fit-content;
    height: 30vh;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    grid-gap: 2rem;
    padding: 2.5rem;
    flex: auto;
  }
  .dark .cardContainer {
    display: grid;
    width: fit-content;
    height: 30vh;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    grid-gap: 2rem;
    padding: 2.5rem;
    flex: auto;
  }
 